.resume-section-content
    h1.mb-0
        | Usman
        span.text-primary Saif
    p.lead.mb-5.mt-3
        | Welcome to my portfolio — your gateway to innovative software solutions and impactful digital transformations. With over 8 years of professional experience, I specialize in crafting scalable, high-performance web applications using PHP, Laravel, Vue.js, and MySQL. From leading complex e-commerce projects managing millions of records to building intuitive admin panels for healthcare platforms, my expertise lies in delivering tailored solutions that exceed client expectations. Explore my journey, skills, and accomplishments, and discover how I can bring your ideas to life with precision and dedication. Let's create something extraordinary together!
    .social-icons
        a.social-icon.linkedin(href='https://www.linkedin.com/in/usmansaif22' target="_blank")
            i.fab.fa-linkedin-in
        a.social-icon.github(href='https://github.com/usmansaif' target="_blank")
            i.fab.fa-github
        a.social-icon.twitter(href='https://x.com/usmansaif22' target="_blank")
            i.fab.fa-twitter
        a.social-icon.facebook(href='https://www.facebook.com/usman.saif22' target="_blank")
            i.fab.fa-facebook-f
        a.social-icon.whatsapp(href='https://wa.me/923311440036' target="_blank")
            i.fab.fa-whatsapp
