.container
    h2.section-heading.mb-5 Contact
    .row
        // First Column - Contact Details
        .col-md-6
            h1.m-0.p-0.text-capitalize(style='font-size: 4em;') Lets Chat.
            h1.m-0.p-0.text-capitalize Discuss about your project
            h4.mt-4.p-0.text-capitalize.text-info Let's create something together
                i.fas.fa-star.text-warning

        // Second Column - Contact Form or Google Map
        .col-md-6
            div.contact-card
                div.mt-2
                    strong Mail Me at
                    br
                    img.dark-mode-bg(src=`/assets/img/personal-email-address.png` alt='BFMR' title='BFMR')
                div.mt-2
                    strong Call Me at
                    br
                    img.dark-mode-bg(src=`/assets/img/personal-mobile-no.png` alt='BFMR' title='BFMR')
                div.mt-2.font-weight-bold
                    i.fas.fa-map-marker
                    | Model Town, Lahore, Pakistan

        // Second Column - Contact Form or Google Map
        .col-md-6
        .col-md-6
            div.contact-card
                div.mt-2
                    //img.float-end(src="/assets/img/contact-qr-code.svg" alt="Scan & Save My Contact" style="max-width: 150px;")
                    p Download my contact info and save it for future reference!
                    ol
                        li Open downloaded file
                        li Save into your contacts
                    a.btn.btn-primary(href='/assets/file/usmansaif.vcf')
                        | Save My Contact
                    button.btn.btn-success(onclick="window.location.href='tel:+923311440036'" data-bs-toggle="tooltip" title="Make direct call")
                        i.fas.fa-phone
                        | Make Call
