.resume-section-content
    h2.section-heading.mb-3 Education
    .d-flex.flex-column.flex-md-row.justify-content-between.mb-0
        .flex-grow-1
            h4.mb-0 University of Sargodha
            .subheading.mb-3 Bachelor of Computer Science
        .flex-shrink-0
            span.text-primary 2013 - 2017

    h2.mt-5.mb-3 Certifications / Trainings
    .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
            h4.mb-0 Corvit Systems
            .subheading.mb-3 Certified Ethical Hacker, Computer and Information Systems Security/Information
        .flex-shrink-0
            span.text-primary March 2017
            .thumbnail-gallery
                        .thumbnail
                            a(href=`/assets/img/certs/ceh-1.webp` target="_blank" class="lightbox")
                                img(src=`/assets/img/certs/thumbs/ceh-1.webp` alt='CEH v9 Certificate' title='CEH v9 Certificate' loading='lazy')


    .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
            h4.mb-0 IBM Parner World (LMS)
            .subheading.mb-3 IBM Integration Bus Developer v10
        .flex-shrink-0
            span.text-primary August 2017
            .thumbnail-gallery
                .thumbnail
                        a(href=`/assets/img/certs/ibm-1.webp` target="_blank" class="lightbox")
                            img(src=`/assets/img/certs/thumbs/ibm-1.webp` alt='IBM Integration Bus Developer v10' title='IBM Integration Bus Developer v10' loading='lazy')

