.resume-section-content
    h2.section-heading.mb-5 Experience

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
            h3.mb-0 Senior Software Engineer
            .subheading.mb-3 &#x4e;&#x65;&#x78;&#x74;&#x62;&#x72;&#x69;&#x64;&#x67;&#x65;&#x20;&#x50;&#x72;&#x69;&#x76;&#x61;&#x74;&#x65;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;
        .flex-shrink-0
            span.text-primary March 2019 ‒ Present

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
            h3.mb-0 Software Engineer
            .subheading.mb-3 &#x4e;&#x65;&#x78;&#x74;&#x62;&#x72;&#x69;&#x64;&#x67;&#x65;&#x20;&#x50;&#x72;&#x69;&#x76;&#x61;&#x74;&#x65;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;
        .flex-shrink-0
            span.text-primary March 2018 ‒ March 2019

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
            h3.mb-0 Web Developer
            .subheading.mb-3 &#x53;&#x70;&#x69;&#x78;&#x20;&#x53;&#x79;&#x73;&#x74;&#x65;&#x6d;&#x73;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;
        .flex-shrink-0
            span.text-primary June 2016 ‒ Dec 2017