.resume-section-content
    h2.section-heading.mb-5 Experience

    .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
            h3.mb-0 Senior Software Engineer
            .subheading.mb-3 &#x4e;&#x65;&#x78;&#x74;&#x62;&#x72;&#x69;&#x64;&#x67;&#x65;&#x20;&#x50;&#x72;&#x69;&#x76;&#x61;&#x74;&#x65;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;
        .flex-shrink-0
            span.text-primary March 2019 ‒ Present
    .w-100.text-content-block
        | As a Senior Software Engineer at &#x4e;&#x65;&#x78;&#x74;&#x62;&#x72;&#x69;&#x64;&#x67;&#x65;&#x20;&#x50;&#x72;&#x69;&#x76;&#x61;&#x74;&#x65;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;, I lead a team of full-stack developers, providing technical guidance and mentorship to ensure efficient project execution. I collaborate closely with clients to gather requirements, translate them into actionable development tasks, and deliver high-quality features on time. My responsibilities include designing scalable and secure system architectures, writing and maintaining reusable code, and conducting code reviews to uphold coding standards. I manage daily maintenance tasks, troubleshoot technical issues, and prioritize activities to ensure system stability. Additionally, I work with stakeholders to create realistic project timelines, implement process improvements, and stay updated on industry trends to introduce innovative solutions and tools.

    .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
            h3.mb-0 Software Engineer
            .subheading.mb-3 &#x4e;&#x65;&#x78;&#x74;&#x62;&#x72;&#x69;&#x64;&#x67;&#x65;&#x20;&#x50;&#x72;&#x69;&#x76;&#x61;&#x74;&#x65;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;
        .flex-shrink-0
            span.text-primary March 2018 ‒ March 2019
    .w-100.text-content-block
        | As a Software Engineer at &#x4e;&#x65;&#x78;&#x74;&#x62;&#x72;&#x69;&#x64;&#x67;&#x65;&#x20;&#x50;&#x72;&#x69;&#x76;&#x61;&#x74;&#x65;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;, I was responsible for developing, testing, and maintaining efficient, high-quality code for web applications. I worked closely with senior engineers to understand project requirements, implement technical solutions, and contribute to the development of scalable and secure system architectures. My role involved debugging and troubleshooting issues, performing unit and integration testing, and ensuring adherence to coding standards. Additionally, I collaborated with cross-functional teams to deliver features within deadlines and participated in code reviews to enhance the quality of deliverables. I continuously improved my technical skills by staying updated on the latest industry trends and technologies.

    .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
            h3.mb-0 Web Developer
            .subheading.mb-3 &#x53;&#x70;&#x69;&#x78;&#x20;&#x53;&#x79;&#x73;&#x74;&#x65;&#x6d;&#x73;&#x20;&#x4c;&#x69;&#x6d;&#x69;&#x74;&#x65;&#x64;
        .flex-shrink-0
            span.text-primary June 2016 ‒ Dec 2017
    .w-100.text-content-block
        | As a Web Developer at Spix Systems Limited, I developed and maintained dynamic websites and web applications using modern web technologies. I collaborated with designers and back-end developers to ensure seamless integration of front-end and server-side functionalities. My responsibilities included writing clean, efficient code, optimizing website performance, and implementing responsive designs to enhance user experience. I also debugged and resolved issues, ensuring websites met client requirements and project deadlines. During this time, I effectively balanced my job responsibilities while pursuing a BSCS degree, further solidifying my technical skills and professional growth.
