.resume-section-content
    h2.section-heading.mb-5 Experience

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
            h3.mb-0 Senior Web Developer
            .subheading.mb-3 Spix Systems Limited
            p
                | Loading more ... Error
        .flex-shrink-0
            span.text-primary March 2013 - Present
