.accordion.accordion-flush(id="projectlist")
    // BFMR
    include ../projects/bfmr
    // Net Sites USA
    include ../projects/netsitesusa
    // Dealership Experts
    include ../projects/dealershipexpert
    // Cosmo camp
    include ../projects/cosmocamp
    // Shipping label printer
    include ../projects/shippinglabel
    // Idara tul mustafa
    include ../projects/idara
