.resume-section-content
    h2.section-heading.mb-5 What I Offer!
    .services-grid
        .service-card
            .service-title Custom Web Application Development
            .service-description Build scalable, secure, and dynamic web applications tailored to your business needs using Laravel and Vue.js.
        .service-card
            .service-title Backend Development
            .service-description Design and implement robust backend systems with efficient APIs, database management, and performance optimization.
        .service-card
            .service-title API Development
            .service-description Develop secure and well-documented APIs for seamless integration with frontend and third-party applications.
        .service-card
            .service-title Database Design & Optimization
            .service-description Create efficient MySQL database schemas, optimize queries, and ensure high-performance data management.
        .service-card
            .service-title Linux Server Administration
            .service-description Manage Linux-based servers for hosting, deployment, performance tuning, and security hardening.
        .service-card.ai-border
            .service-title Scripting / Automation
            .service-description Automate tasks, streamline workflows, and develop custom commands in Ubuntu/Debian using powerful Bash scripts. Create tailored Bash, PHP, and Java scripts to parse or process data, images, and more efficiently.
        .service-card
            .service-title.ai-text Generative AI-Powered Development
            .service-description ransform applications with AI-powered development, intelligent automation, and code generation to deliver smarter, future-ready solutions.
        .service-card
            .service-title Agile Methodology & Scrum
            .service-description Experienced in working in Agile environments, following Scrum practices for iterative development, regular stand-ups, sprints, and backlog grooming.
        .service-card
            .service-title Payment Gateway Integration
            .service-description Expertise in integrating popular payment gateways like Stripe, PayPal, or Authorize.Net into web applications, enabling secure and seamless online payments for users.

    div(class="text-center")
        a(href="#contact", class="btn btn-primary mt-3 mb-4") Hire Me!
