.resume-section-content
    h2.section-heading.mb-5 Skills
    .subheading Programming Languages & Tools

    .row
        .col-md-6
            ul
                li PHP
                li VueJs 2,3
                li Laravel
                li MySQL
                li WordPress
                li JavaScript
                li npm
                li Linux
        .col-md-6
            ul
                li HTML5
                li CSS3
                li Android Programming
                li PHPStorm
                li VSCode
                li DBViewer
                li Sublime Merge

    .subheading.mb-3 Workflow
        ul.fa-ul.mb-0
            li
                span.fa-li
                    i.fas.fa-check
                | Mobile-First, Responsive Design
            li
                span.fa-li
                    i.fas.fa-check
                | Testing Driven Development
            li
                span.fa-li
                    i.fas.fa-check
                | Cross Functional Teams
            li
                span.fa-li
                    i.fas.fa-check
                | Agile Development & Scrum