.resume-section-content
    h2.section-heading.mb-5 Skills
    .subheading.mb-4 Programming Languages & Tools

    .row
        .col-md-6
            ul
                li PHP
                li VueJs 2,3
                li Laravel
                li MySQL
                li WordPress
                li JavaScript
                li npm
                li Linux
        .col-md-6
            ul
                li HTML5
                li CSS3
                li Android Programming
                li PHPStorm
                li VSCode
                li DBViewer
                li Sublime Merge