.resume-section-content
    h2.section-heading.mb-5 Testimonials
    .carousel.slide#testimonialCarousel(data-bs-ride="carousel")
        .carousel-inner

            .carousel-item.active
                .row.justify-content-center
                    .col-12.col-md-12
                        .card.shadow-sm.border-0
                            .card-body.testimonial-card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img.rounded-circle.mb-3(src="/assets/img/avatar/ivas.webp" alt="Ivas Berzins")
                                    h5.text-primary &#x49;&#x76;&#x61;&#x73;&#x20;&#x42;&#x65;&#x72;&#x7a;&#x69;&#x6e;&#x73;
                                    small.text-muted Owner at &#x4e;&#x65;&#x74;&#x20;&#x53;&#x69;&#x74;&#x65;&#x73;&#x20;&#x55;&#x53;&#x41;&#x2c;&#x20;&#x49;&#x6e;&#x63;&#x2e;
                                    p.mt-3 "Usman Saif has been instrumental in the success of my car seat manufacturing business. He developed a highly functional online store in PHP and MySQL, providing a seamless shopping experience for our customers. Usman also created an intuitive admin panel that made managing payments, orders, shipments, items, and stock incredibly easy. Additionally, he expertly maintained and managed our 69 sister network sites using WHM/cPanel. His skills, professionalism, and smart decisions have exceeded my expectations, and I am thrilled with his exceptional services!."
                                    p &#x4c;&#x61;&#x6b;&#x65;&#x20;&#x48;&#x61;&#x76;&#x61;&#x73;&#x75;&#x20;&#x43;&#x69;&#x74;&#x79;&#x2c;&#x20;&#x41;&#x72;&#x69;&#x7a;&#x6f;&#x6e;&#x61;&#x2c;&#x20;&#x55;&#x6e;&#x69;&#x74;&#x65;&#x64;&#x20;&#x53;&#x74;&#x61;&#x74;&#x65;&#x73;

            .carousel-item
                .row.justify-content-center
                    .col-12.col-md-12
                        .card.shadow-sm.border-0
                            .card-body.testimonial-card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img.rounded-circle.mb-3(src="/assets/img/avatar/nino.webp" alt="Nino")
                                    h5.text-primary &#x4e;&#x69;&#x6e;&#x6f;&#x20;&#x50;&#x61;&#x72;&#x63;&#x6f;
                                    small.text-muted Founder at &#x44;&#x65;&#x61;&#x6c;&#x65;&#x72;&#x73;&#x68;&#x69;&#x70;&#x20;&#x45;&#x78;&#x70;&#x65;&#x72;&#x74;&#x73;
                                    p.mt-3 "Working with Usman Saif has been an excellent experience. He provided top-notch maintenance services for our job portal, &#x44;&#x65;&#x61;&#x6c;&#x65;&#x72;&#x73;&#x68;&#x69;&#x70;&#x20;&#x45;&#x78;&#x70;&#x65;&#x72;&#x74;&#x73; Network, which connects auto professionals with dealerships across the United States. His expertise ensured smooth functionality for our platform, which offers dealers a unique CRM to post auto jobs, saving them thousands on advertising while accessing major platforms like Monster, LinkedIn, Twitter, and Indeed. Usman’s dedication, technical skills, and proactive support have been instrumental in maintaining the quality and reliability of our services."
                                    p &#x4c;&#x61;&#x6b;&#x65;&#x20;&#x48;&#x61;&#x76;&#x61;&#x73;&#x75;&#x20;&#x43;&#x69;&#x74;&#x79;&#x2c;&#x20;&#x41;&#x72;&#x69;&#x7a;&#x6f;&#x6e;&#x61;&#x2c;&#x20;&#x55;&#x6e;&#x69;&#x74;&#x65;&#x64;&#x20;&#x53;&#x74;&#x61;&#x74;&#x65;&#x73;


            .carousel-item
                .row.justify-content-center
                    .col-12.col-md-12
                        .card.shadow-sm.border-0
                            .card-body.testimonial-card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img.rounded-circle.mb-3(src="/assets/img/avatar/kay.webp" alt="kay")
                                    h5.text-primary &#x4b;&#x61;&#x79;&#x20;&#x48;&#x61;&#x64;&#x64;&#x79;
                                    small.text-muted Founder at
                                        abbr(title='Confidential Project') Crowdsourcing Platform
                                    p.mt-3 "I’ve worked with Usman Saif for over four years, and he developed a complete business automation solution for my project
                                        abbr(title='Confidential Project') (Crowdsourcing Platform),
                                        | including integrations for payments, QuickBooks, and shipping data. His work saved my business from a major loss when a database incident caused a conflict with primary keys, potentially costing $900,000. Usman worked tirelessly to restore the records accurately, and I was so impressed by his dedication that I rewarded him. His skills, professionalism, and problem-solving ability are exceptional, and I highly value his services."
                                    p &#x42;&#x6f;&#x73;&#x74;&#x6f;&#x6e;&#x2c;&#x20;&#x4d;&#x61;&#x73;&#x73;&#x61;&#x63;&#x68;&#x75;&#x73;&#x65;&#x74;&#x74;&#x73;&#x2c;&#x20;&#x55;&#x6e;&#x69;&#x74;&#x65;&#x64;&#x20;&#x53;&#x74;&#x61;&#x74;&#x65;&#x73;

            .carousel-item
                .row.justify-content-center
                    .col-12.col-md-12
                        .card.shadow-sm.border-0
                            .card-body.testimonial-card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img.rounded-circle.mb-3(src="/assets/img/avatar/abdul.webp" alt="Abdul Wajid")
                                    h5.text-primary Abdul Wajid
                                    small.text-muted CEO at Al-Madina Organic Dates Farming
                                    p.mt-3 "I’m deeply grateful to Usman Saif for creating a custom tool that transformed my export process. As a premium date exporter from Madina, Saudi Arabia, I used to manually write shipping labels, which was tedious and error-prone. Usman’s solution lets me generate PDFs, print labels, and manage records efficiently, saving time and effort. His expertise and understanding were exceptional, and I highly recommend his services."
                                    p Madinah, Saudi Arabia


            .carousel-item
                .row.justify-content-center
                    .col-12.col-md-12
                        .card.shadow-sm.border-0
                            .card-body.testimonial-card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img.rounded-circle.mb-3(src="/assets/img/avatar/gjergj.webp" alt="Gjergj")
                                    h5.text-primary Gjergj Subashi
                                    small.text-muted Founder at MedLucy
                                    p.mt-3 "Usman Saif developed a feature-rich admin panel for managing our MedLucy platform, a complete healthcare software solution in Luxembourg. The admin panel allows us to seamlessly manage doctor, clinic, and secretary profiles, set roles and permissions, and handle app version control with downloadable archives for older versions. His work has been instrumental in streamlining our operations and ensuring MedLucy delivers exceptional efficiency in healthcare management. Usman’s technical expertise and dedication have been outstanding, and I’m extremely satisfied with his services."
                                    p Luxembourg, Europe

            .carousel-item
                .row.justify-content-center
                    .col-12.col-md-12
                        .card.shadow-sm.border-0
                            .card-body.testimonial-card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img.rounded-circle.mb-3(src="/assets/img/avatar/default.webp" alt="Muhammad Anjum")
                                    h5.text-primary Muhammad Anjum
                                    small.text-muted Director at AA exports
                                    p.mt-3 "I am extremely satisfied with the IT services provided by Usman Saif. He developed a professional website for my home textile business, set up email services, and provided in-house IT solutions that streamlined our operations. His expertise and dedication have been exceptional, and I was so impressed with his work that I recommended him to my business friends in Oman and Qatar, who have also benefited from his services. Usman is reliable, skilled, and a true professional in his field."
                                    p Faisalabad, Pakistan

        a.carousel-control-prev(href="#testimonialCarousel" role="button" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
        a.carousel-control-next(href="#testimonialCarousel" role="button" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next
