doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        head
            // Character Set and Viewport
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name="description" content="Explore the professional portfolio of Usman Saif, a Senior Software Engineer specializing in PHP, Laravel, Vue.js, MySQL, and Linux. Discover projects, skills, and contact details.")
            meta(name="keywords" content="Usman Saif, Senior Software Engineer, PHP Developer, Laravel Expert, Vue.js Developer, MySQL, Linux, Full Stack Developer, Portfolio, Software Development, Pakistan")
            meta(name="author" content="Usman Saif")
            meta(name="robots" content="index, follow")
            meta(property="og:title" content="Usman Saif | Senior Software Engineer Portfolio")
            meta(property="og:description" content="Explore the professional portfolio of Usman Saif, a Senior Software Engineer specializing in PHP, Laravel, Vue.js, MySQL, and Linux.")
            //meta(property="og:image" content="https://yourdomain.com/path/to/image.jpg") // Replace with your portfolio image link
            meta(property="og:url" content="https://usmansaif.work")
            meta(property="og:type" content="website")

            // Twitter Card Meta Tags
            meta(name="twitter:card" content="summary_large_image")
            meta(name="twitter:title" content="Usman Saif | Senior Software Engineer Portfolio")
            meta(name="twitter:description" content="Explore the professional portfolio of Usman Saif, a Senior Software Engineer specializing in PHP, Laravel, Vue.js, MySQL, and Linux.")
            //meta(name="twitter:image" content="https://usmansaif.com/path/to/image.jpg") // Replace with your portfolio image link

        title Usman Saif - Senior Software Engineer

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top(class="light-mode")

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Usman Saif
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Usman Saif Photograph' title='Usman Saif Photograph')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#') Services
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#') Testimonials
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Page Content
        .container-fluid.p-0.bg-img

            // Dark/Light Mode Toggle Button
            button.btn.btn-link.btn-dark-mode.btn-lg(id="mode-toggle" data-bs-toggle="tooltip" title="Toggle Dark/Light Mode")
                i.fas.fa-sun.text-white.d-none(id="light-icon")
                i.fas.fa-moon.text-primary(id="dark-icon")

            // About
            section#about.resume-section
                include components/about

            hr.m-0

            // Experience
            section#experience.resume-section
                include components/experience

            hr.m-0

            // Education
            section#education.resume-section
                include components/education
            hr.m-0

            // Skills
            section#skills.resume-section
                include components/skills

            hr.m-0
            // Interests
            section#projects.resume-section
                .resume-section-content
                    h2.section-heading.mb-5 Projects
                    include components/projects

            hr.m-0

            // Contact
            section#contact.resume-section
                include components/contact


        // Footer - Copyright Section
        footer.bg-dark.text-white.text-center.py-3
            p.mb-0 &copy; #{new Date().getFullYear()} Usman Saif. All Rights Reserved.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/js/lightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        //- Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-W7NYNR4C27")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-W7NYNR4C27');
