doctype html
html(lang='en')

    head

        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name="description" content="Portfolio of Usman Saif, Senior Software Engineer providing custom web application development, Laravel, Vue.js, MySQL, and API integration services for businesses across the USA.")
        meta(name="keywords" content="Custom Software Development USA, Laravel Developer USA, Vue.js Developer, Full Stack Web Developer, API Integration, PHP Developer USA, MySQL Expert, Web Application Development, Remote Software Engineer")
        meta(name="author" content="Usman Saif")
        meta(name="robots" content="index, follow")
        meta(property="og:title" content="Senior Full-Stack Developer | Laravel & Vue.js | Custom Software Development")
        meta(property="og:description" content="Portfolio of Usman Saif, Senior Software Engineer providing custom web application development, Laravel, Vue.js, MySQL, and API integration services for businesses across the USA.")
        //meta(property="og:image" content="https://yourdomain.com/path/to/image.jpg") // Replace with your portfolio image link
        meta(property="og:url" content="https://usmansaif.work")
        meta(property="og:type" content="website")

        // Twitter Card Meta Tags
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="Senior Full-Stack Developer | Laravel & Vue.js | Custom Software Development")
        meta(name="twitter:description" content="Portfolio of Usman Saif, Senior Software Engineer providing custom web application development, Laravel, Vue.js, MySQL, and API integration services for businesses across the USA.")
        //meta(name="twitter:image" content="https://usmansaif.com/path/to/image.jpg") // Replace with your portfolio image link

        title Usman Saif - Senior Full-Stack Developer | Laravel & Vue.js | Custom Software Development

        link(rel="icon" type="image/png" href="/assets/img/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg")
        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png")
        meta(name="apple-mobile-web-app-title" content="Usman Saif")
        link(rel="manifest" href="/assets/img/site.webmanifest")
        link(rel="canonical" href="https://usmansaif.work/")

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous', async)

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        script(type="application/ld+json").
            {
                "@context": "https://schema.org/",
                "@type": "ProfessionalService",
                "description": "Services offered by Usman Saif | Senior Software Engineer",
                "hasMenuItem": [
                    {
                        "@type": "MenuSection",
                        "name": "Development Services",
                        "hasMenuItem": [
                            {
                                "@type": "MenuItem",
                                "name": "Custom Web Application Development",
                                "description": "Build scalable, secure, and dynamic web applications tailored to your business needs using Laravel and Vue.js."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "Backend Development",
                                "description": "Design and implement robust backend systems with efficient APIs, database management, and performance optimization."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "API Development",
                                "description": "Develop secure and well-documented APIs for seamless integration with frontend and third-party applications."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "Database Design & Optimization",
                                "description": "Create efficient MySQL database schemas, optimize queries, and ensure high-performance data management."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "Linux Server Administration",
                                "description": "Manage Linux-based servers for hosting, deployment, performance tuning, and security hardening."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "Scripting / Automation",
                                "description": "Automate tasks, streamline workflows, and develop custom commands in Ubuntu/Debian using powerful Bash scripts. Create tailored Bash, PHP, and Java scripts to parse or process data, images, and more efficiently."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "WordPress Website Development",
                                "description": "Create custom WordPress websites, including theme, plugin integration, and SEO-friendly designs."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "Agile Methodology & Scrum",
                                "description": "Experienced in working in Agile environments, following Scrum practices for iterative development, regular stand-ups, sprints, and backlog grooming."
                            },
                            {
                                "@type": "MenuItem",
                                "name": "Payment Gateway Integration",
                                "description": "Expertise in integrating popular payment gateways like Stripe, PayPal, or Authorize.Net into web applications, enabling secure and seamless online payments for users."
                            }
                        ]
                    }
                ],
                "name": "Usman Saif",
                "address": {
                    "@type": "PostalAddress",
                    "postalCode": "54000",
                    "streetAddress": "Peco Road",
                    "addressCountry": "PK",
                    "addressLocality": "Lahore"
                },
                "image": "https://usmansaif.work/assets/img/profile.jpg",
                "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": "31.463405",
                    "longitude": "74.318655"
                },
                "openingHoursSpecification": {
                    "@type": "OpeningHoursSpecification",
                    "opens": "00:00",
                    "closes": "23:59",
                    "dayOfWeek": [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday",
                        "Saturday",
                        "Sunday"
                    ]
                },
                "telephone": "+923311440036",
                "url": "https://usmansaif.work",
                "priceRange": "$15 - $30",
                "menu": "https://usmansaif.work#services",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.8",
                    "ratingCount": "10",
                    "reviewCount": "10"
                }
            }

    body#page-top(class="light-mode")

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Usman Saif
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Usman Saif Photograph' title='Usman Saif Photograph' loading='lazy')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#services') Services
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#testimonials') Testimonials
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Page Content
        .container-fluid.p-0.bg-img

            // Dark/Light Mode Toggle Button
            button.btn.btn-link.btn-dark-mode.btn-lg(id="mode-toggle" data-bs-toggle="tooltip" title="Toggle Dark/Light Mode")
                i.fas.fa-sun.text-white.d-none(id="light-icon")
                i.fas.fa-moon.text-primary(id="dark-icon")

            // About
            section#about.resume-section
                include components/about

            hr.m-0

            // Skills
            section#skills.resume-section
                include components/skills

            hr.m-0

            // Experience
            section#experience.resume-section
                include components/experience
            hr.m-0

            // Education
            section#education.resume-section
                include components/education

            hr.m-0
            // Projects
            section#projects.resume-section
                include components/projects

            hr.m-0

            // Services
            section#services.resume-section
                include components/services

            hr.mt-0

            // testimonials
            section#testimonials.resume-section
                include components/testimonials

            hr.m-0

            // Contact
            section#contact.resume-section
                include components/contact

            hr.m-0

        // Footer - Copyright Section
        footer.bg-dark.text-white.text-center.py-3
            p.mb-0 &copy; #{new Date().getFullYear()} Usman Saif. All Rights Reserved.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js', async)

        // Core theme JS
        script(src='js/scripts.js')

        //- Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-W7NYNR4C27")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-W7NYNR4C27');
