doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Character Set and Viewport
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Explore the professional portfolio of Usman Saif, a Senior Software Engineer specializing in PHP, Laravel, Vue.js, MySQL, and Linux. Discover projects, skills, and contact details.")
        meta(name="keywords" content="Usman Saif, Senior Software Engineer, PHP Developer, Laravel Expert, Vue.js Developer, MySQL, Linux, Full Stack Developer, Portfolio, Software Development, Pakistan")
        meta(name="author" content="Usman Saif")
        meta(name="robots" content="index, follow")
        meta(property="og:title" content="Usman Saif | Senior Software Engineer")
        meta(property="og:description" content="Explore the professional portfolio of Usman Saif, a Senior Software Engineer specializing in PHP, Laravel, Vue.js, MySQL, and Linux.")
        //meta(property="og:image" content="https://yourdomain.com/path/to/image.jpg") // Replace with your portfolio image link
        meta(property="og:url" content="https://usmansaif.work")
        meta(property="og:type" content="website")

        // Twitter Card Meta Tags
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="Usman Saif | Senior Software Engineer")
        meta(name="twitter:description" content="Explore the professional portfolio of Usman Saif, a Senior Software Engineer specializing in PHP, Laravel, Vue.js, MySQL, and Linux.")
        //meta(name="twitter:image" content="https://usmansaif.com/path/to/image.jpg") // Replace with your portfolio image link

        title Usman Saif - Senior Software Engineer

        link(rel="icon" type="image/png" href="/assets/img/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg")
        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png")
        meta(name="apple-mobile-web-app-title" content="Usman Saif")
        link(rel="manifest" href="/assets/img/site.webmanifest")
        link(rel="canonical" href="https://usmansaif.work/")

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous', async)

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top(class="light-mode")

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Usman Saif
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Usman Saif Photograph' title='Usman Saif Photograph' loading='lazy')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#services') Services
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#testimonials') Testimonials
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Page Content
        .container-fluid.p-0.bg-img

            // Dark/Light Mode Toggle Button
            button.btn.btn-link.btn-dark-mode.btn-lg(id="mode-toggle" data-bs-toggle="tooltip" title="Toggle Dark/Light Mode")
                i.fas.fa-sun.text-white.d-none(id="light-icon")
                i.fas.fa-moon.text-primary(id="dark-icon")

            // About
            section#about.resume-section
                include components/about

            hr.m-0

            // Experience
            section#experience.resume-section
                include components/experience

            hr.m-0

            // Education
            section#education.resume-section
                include components/education
            hr.m-0

            // Skills
            section#skills.resume-section
                include components/skills

            hr.m-0
            // projects
            section#projects.resume-section
                include components/projects

            // services
            section#services.resume-section
                include components/services

            // testimonials
            section#testimonials.resume-section
                .resume-section-content
                    h2.section-heading.mb-5 Testimonials
                    .carousel.slide#testimonialCarousel(data-bs-ride="carousel")
                        .carousel-inner

                            .carousel-item.active
                                .row.justify-content-center
                                    .col-12.col-md-12
                                        .card.shadow-sm.border-0
                                            .card-body.testimonial-card-body
                                                .d-flex.flex-column.align-items-center.text-center
                                                    img.rounded-circle.mb-3(src="/assets/img/avatar/default.webp" alt="Ivas Berzins")
                                                    h5.text-primary &#x49;&#x76;&#x61;&#x73;&#x20;&#x42;&#x65;&#x72;&#x7a;&#x69;&#x6e;&#x73;
                                                    small.text-muted Owner at &#x4e;&#x65;&#x74;&#x20;&#x53;&#x69;&#x74;&#x65;&#x73;&#x20;&#x55;&#x53;&#x41;&#x2c;&#x20;&#x49;&#x6e;&#x63;&#x2e;
                                                    p.mt-3 "Usman Saif has been instrumental in the success of my car seat manufacturing business. He developed a highly functional online store in PHP and MySQL, providing a seamless shopping experience for our customers. Usman also created an intuitive admin panel that made managing payments, orders, shipments, items, and stock incredibly easy. Additionally, he expertly maintained and managed our 69 sister network sites using WHM/cPanel. His skills, professionalism, and smart decisions have exceeded my expectations, and I am thrilled with his exceptional services!."
                                                    p &#x4c;&#x61;&#x6b;&#x65;&#x20;&#x48;&#x61;&#x76;&#x61;&#x73;&#x75;&#x20;&#x43;&#x69;&#x74;&#x79;&#x2c;&#x20;&#x41;&#x72;&#x69;&#x7a;&#x6f;&#x6e;&#x61;&#x2c;&#x20;&#x55;&#x6e;&#x69;&#x74;&#x65;&#x64;&#x20;&#x53;&#x74;&#x61;&#x74;&#x65;&#x73;

                            .carousel-item
                                .row.justify-content-center
                                    .col-12.col-md-12
                                        .card.shadow-sm.border-0
                                            .card-body.testimonial-card-body
                                                .d-flex.flex-column.align-items-center.text-center
                                                    img.rounded-circle.mb-3(src="/assets/img/avatar/default.webp" alt="Nino")
                                                    h5.text-primary &#x4e;&#x69;&#x6e;&#x6f;&#x20;&#x50;&#x61;&#x72;&#x63;&#x6f;
                                                    small.text-muted Founder at &#x44;&#x65;&#x61;&#x6c;&#x65;&#x72;&#x73;&#x68;&#x69;&#x70;&#x20;&#x45;&#x78;&#x70;&#x65;&#x72;&#x74;&#x73;
                                                    p.mt-3 "Working with Usman Saif has been an excellent experience. He provided top-notch maintenance services for our job portal, &#x44;&#x65;&#x61;&#x6c;&#x65;&#x72;&#x73;&#x68;&#x69;&#x70;&#x20;&#x45;&#x78;&#x70;&#x65;&#x72;&#x74;&#x73; Network, which connects auto professionals with dealerships across the United States. His expertise ensured smooth functionality for our platform, which offers dealers a unique CRM to post auto jobs, saving them thousands on advertising while accessing major platforms like Monster, LinkedIn, Twitter, and Indeed. Usman’s dedication, technical skills, and proactive support have been instrumental in maintaining the quality and reliability of our services."
                                                    p &#x4c;&#x61;&#x6b;&#x65;&#x20;&#x48;&#x61;&#x76;&#x61;&#x73;&#x75;&#x20;&#x43;&#x69;&#x74;&#x79;&#x2c;&#x20;&#x41;&#x72;&#x69;&#x7a;&#x6f;&#x6e;&#x61;&#x2c;&#x20;&#x55;&#x6e;&#x69;&#x74;&#x65;&#x64;&#x20;&#x53;&#x74;&#x61;&#x74;&#x65;&#x73;


                            .carousel-item
                                .row.justify-content-center
                                    .col-12.col-md-12
                                        .card.shadow-sm.border-0
                                            .card-body.testimonial-card-body
                                                .d-flex.flex-column.align-items-center.text-center
                                                    img.rounded-circle.mb-3(src="/assets/img/avatar/default.webp" alt="kay")
                                                    h5.text-primary &#x4b;&#x61;&#x79;&#x20;&#x48;&#x61;&#x64;&#x64;&#x79;
                                                    small.text-muted Founder at
                                                        abbr(title='Confidential Project') Crowdsourcing Platform
                                                    p.mt-3 "I’ve worked with Usman Saif for over four years, and he developed a complete business automation solution for my project
                                                        abbr(title='Confidential Project') (Crowdsourcing Platform),
                                                        | including integrations for payments, QuickBooks, and shipping data. His work saved my business from a major loss when a database incident caused a conflict with primary keys, potentially costing $900,000. Usman worked tirelessly to restore the records accurately, and I was so impressed by his dedication that I rewarded him. His skills, professionalism, and problem-solving ability are exceptional, and I highly value his services."
                                                    p &#x42;&#x6f;&#x73;&#x74;&#x6f;&#x6e;&#x2c;&#x20;&#x4d;&#x61;&#x73;&#x73;&#x61;&#x63;&#x68;&#x75;&#x73;&#x65;&#x74;&#x74;&#x73;&#x2c;&#x20;&#x55;&#x6e;&#x69;&#x74;&#x65;&#x64;&#x20;&#x53;&#x74;&#x61;&#x74;&#x65;&#x73;

                            .carousel-item
                                .row.justify-content-center
                                    .col-12.col-md-12
                                        .card.shadow-sm.border-0
                                            .card-body.testimonial-card-body
                                                .d-flex.flex-column.align-items-center.text-center
                                                    img.rounded-circle.mb-3(src="/assets/img/avatar/default.webp" alt="Abdul Wajid")
                                                    h5.text-primary Abdul Wajid
                                                    small.text-muted CEO at Al-Madina Organic Dates Farming
                                                    p.mt-3 "I’m deeply grateful to Usman Saif for creating a custom tool that transformed my export process. As a premium date exporter from Madina, Saudi Arabia, I used to manually write shipping labels, which was tedious and error-prone. Usman’s solution lets me generate PDFs, print labels, and manage records efficiently, saving time and effort. His expertise and understanding were exceptional, and I highly recommend his services."
                                                    p Madinah, Saudi Arabia

                            .carousel-item
                                .row.justify-content-center
                                    .col-12.col-md-12
                                        .card.shadow-sm.border-0
                                            .card-body.testimonial-card-body
                                                .d-flex.flex-column.align-items-center.text-center
                                                    img.rounded-circle.mb-3(src="/assets/img/avatar/default.webp" alt="Muhammad Anjum")
                                                    h5.text-primary Muhammad Anjum
                                                    small.text-muted Director at AA exports
                                                    p.mt-3 "I am extremely satisfied with the IT services provided by Usman Saif. He developed a professional website for my home textile business, set up email services, and provided in-house IT solutions that streamlined our operations. His expertise and dedication have been exceptional, and I was so impressed with his work that I recommended him to my business friends in Oman and Qatar, who have also benefited from his services. Usman is reliable, skilled, and a true professional in his field."
                                                    p Faisalabad, Pakistan

                        a.carousel-control-prev(href="#testimonialCarousel" role="button" data-bs-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.visually-hidden Previous
                        a.carousel-control-next(href="#testimonialCarousel" role="button" data-bs-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.visually-hidden Next

        hr.m-0

        // Contact
        section#contact.resume-section
            include components/contact


        // Footer - Copyright Section
        footer.bg-dark.text-white.text-center.py-3
            p.mb-0 &copy; #{new Date().getFullYear()} Usman Saif. All Rights Reserved.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js', async)

        // Core theme JS
        script(src='js/scripts.js')

        //- Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-W7NYNR4C27")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-W7NYNR4C27');
