doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Usman Saif - Senior Software Engineer

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Usman Saif
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Page Content
        .container-fluid.p-0.bg-img

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Usman
                        span.text-primary Saif
                    p.lead.mb-5.mt-3
                        | With over 8 years of software development experience, I specialize in crafting innovative solutions using Linux, Apache, MySQL, PHP, Laravel, and Vue.js (2 & 3). As a seasoned team lead, I have a proven track record of guiding full-stack developers to ensure seamless collaboration and timely project delivery.
                        | My expertise extends to front-end development, where I leverage Vue.js and state management libraries to design intuitive, user-centric web applications. For the past 6 years, I have led the development and maintenance of a prominent U.S.-based e-commerce platform. Built from the ground up with Laravel and Vue.js 2, this large-scale application efficiently manages millions of records, showcasing my ability to handle complex, high-performance systems.
                    .social-icons
                        a.social-icon.linkedin(href='https://www.linkedin.com/in/usmansaif22' target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon.github(href='https://github.com/usmansaif' target="_blank")
                            i.fab.fa-github
                        a.social-icon.twitter(href='https://x.com/usmansaif22' target="_blank")
                            i.fab.fa-twitter
                        a.social-icon.facebook(href='https://www.facebook.com/usman.saif22' target="_blank")
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                        .flex-shrink-0
                            span.text-primary March 2013 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                        .flex-shrink-0
                            span.text-primary December 2011 - March 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Web Designer
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
                        .flex-shrink-0
                            span.text-primary July 2010 - December 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Design Intern
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                        .flex-shrink-0
                            span.text-primary September 2008 - June 2010

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-0
                        .flex-grow-1
                            h3.mb-0 University of Sargodha
                            .subheading.mb-3 Bachelor of Computer Science
                        .flex-shrink-0
                            span.text-primary 2013 - 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Govt High School, Township
                            .subheading.mb-3 Computer Science
                        .flex-shrink-0
                            span.text-primary 2011 - 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Corvit Systems
                            .subheading.mb-3 Certified Ethical Hacker, Computer and Information Systems Security/Information
                        .flex-shrink-0
                            span.text-primary 2017

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-php(title="PHP")
                        li.list-inline-item
                            i.fab.fa-vuejs(title="VueJs 2,3")
                        li.list-inline-item
                            i.fab.fa-laravel(title="Laravel")
                        li.list-inline-item
                            i.fas.fa-database(title="MySQL")
                        li.list-inline-item
                            i.fab.fa-wordpress(title="Wordpress")
                        li.list-inline-item
                            i.fab.fa-js-square(title="JS")
                        li.list-inline-item
                            i.fab.fa-npm(title="npm")
                        li.list-inline-item
                            i.fab.fa-ubuntu(title="Linux Experienced")
                        li.list-inline-item
                            i.fab.fa-html5(title="HTML5")
                        li.list-inline-item
                            i.fab.fa-css3-alt(title="CSS3")
                        li.list-inline-item
                            i.fab.fa-android(title="Android Programming")
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fas.fa-lightbulb(title="PHPStorm")
                        li.list-inline-item
                            i.fas.fa-code(title="VSCode")
                        li.list-inline-item
                            i.fas.fa-eye(title="DBViewer")
                        li.list-inline-item
                            i.fas.fa-file-code(title="Sublime Merge")

                    .subheading.mb-3 Workflow
                        ul.fa-ul.mb-0
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Mobile-First, Responsive Design
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Testing Driven Development
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Cross Functional Teams
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Agile Development & Scrum
            hr.m-0
            // Interests
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    .container
                        .row
                            // Example Project 1
                            .col-md-6
                                .project-card
                                    h3 BFMR
                                    p Description of Project 1
                                    ul.technologies
                                        li VueJS
                                        li Laravel
                                        li AWS
                                        li GitHub + CI/CD
                                        li PhpStorm
                                        li DBviewer
                            // Example Project 2
                            .col-md-6
                                .project-card
                                    h3 HelpDesk (Company internal)
                                    p Description of Project 2
                                    ul.technologies
                                        li Vue.js
                                        li Laravel
                                        li MySQL
                    div
                        | NOTE :add more projects from nextbridge operations resume

                        .container.mt-5
                            // Testimonial Card
                            .card
                                .card-body
                                    h5.card-title Customer Testimonial
                                    h6.card-subtitle.mb-2.text-muted By John Doe

                                    // Star Rating
                                    .star-rating.mb-3
                                        span.fa.fa-star.text-warning
                                        span.fa.fa-star.text-warning
                                        span.fa.fa-star.text-warning
                                        span.fa.fa-star.text-warning
                                        span.fa.fa-star-half-alt.text-warning

            hr.m-0

            // Contact
            section#contact.resume-section
                .container
                    h2.text-center.mb-5 Contact
                    .row
                        // First Column - Contact Details
                        .col-md-6
                            table.table.table-borderless
                                tbody
                                    tr
                                        td
                                            i.fas.fa-phone-alt.text-primary.fa-2x.me-2
                                        td
                                            span.font-weight-bold +(92) 331 - 1440036
                                    tr
                                        td
                                            i.fas.fa-envelope.text-primary.fa-2x.me-2
                                        td
                                            span.font-weight-bold usman.saif22@gmail.com
                                    tr
                                        td
                                            i.fas.fa-map-marker-alt.text-primary.fa-2x.me-2
                                        td
                                            span.font-weight-bold Model Town, Lahore, Pakistan

                        // Second Column - Contact Form or Google Map
                        .col-md-6
                             .google-map
                                 iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d689.7864954239288!2d74.3187310152221!3d31.4635021223317!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1732394004237!5m2!1sen!2s"
                                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy")

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')