.accordion-item
    h2.accordion-header(id="aaexports")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-aaexports" aria-controls="project-aaexports")
            span.badge.bg-dark.me-2 WEB
            | AAExports ‒ Home Textile Company
    #project-aaexports.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            a.btn.btn-link.btn-sm.float-end.mb-5(href='https://aaexports.com.pk' data-bs-toggle="tooltip" target='_blank' title='Open link in new tab')
                | aaexports.com.pk
                i.fas.fa-external-link

            p.m-0.p-0 ...

            p.project-origin
                strong Origin
                | Faisalabad, Pakistan

            .thumbnail-gallery
                .thumbnail
                    a(href=`/assets/img/portfolio/aaexports-1.jpg` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/aaexports-1.jpg` alt='AAExports Official Website Home Page' title='AAExports Official Website Home Page')

            ul.technologies
                li PHP
                li MYSQL
                li VScode
                li Bootstrap
                li Adobe Photoshop
                li MS Outlook