.accordion-item
    h2.accordion-header(id="aaexports")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-aaexports" aria-controls="project-aaexports")
            span.badge.bg-dark.me-2 WEB
            | AAExports ‒ Home Textile Company
    #project-aaexports.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            //a.btn.btn-link.btn-sm.float-end.mb-5(href='https://aaexports.com.pk' data-bs-toggle="tooltip" target='_blank' title='Open link in new tab')
            //    | aaexports.com.pk
            //    i.fas.fa-external-link

            p.m-0.p-0 Developed a comprehensive website for AAEXPORTS tailored to their specific requirements, ensuring a user-friendly interface and seamless functionality to enhance their online presence. Integrated email solutions with their business tools to streamline communication and improve operational efficiency. Additionally, provided in-house IT support services, assisting with technical setups and ensuring smooth business operations.
            p.m-0.p-0 This project demonstrates my expertise in web development, IT support, and delivering customized business solutions.

            p.project-origin
                i.fas.fa-map-marker
                | Faisalabad, Pakistan

            .thumbnail-gallery
                .thumbnail
                    a(href=`/assets/img/portfolio/aaexports-1.webp` rel='noreferrer' target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/aaexports-1.webp` alt='AAExports Official Website Home Page' title='AAExports Official Website Home Page' loading='lazy')

            ul.technologies
                li PHP
                li MYSQL
                li VScode
                li Bootstrap
                li Adobe Photoshop
                li MS Outlook