.accordion-item
    h2.accordion-header(id="cosmocamp")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#cosmo" aria-controls="cosmo")
            span.badge.bg-dark.me-2 WEB
            | Cosmo Camp
    #cosmo.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            p.m-0.p-0 Cosmo Camps is an online portal for parents who want to register their children for the Cosmosphere camps.
            p.m-0.p-0 Cosmosphere is a space museum and STEM education center in Hutchinson, Kansas, United States.
            p.m-0.p-0 The Cosmosphere hosts summer camps for all ages, and co-curricular applied STEM education programs for field trips, groups, and scouts that meet Next Generation Science Standards and Common Core, focused on college and career readiness.
            p.m-0.p-0 Through the portal now any parents can register their child/children for a new camp from the link on the Dashboard page. By registering a child, parents need to complete the form to enter the child's profile information. Then the parent can select the camp session for their child. The list includes the camp name and start date. Also, if a parent is referred by another person, enter your referral code. From the Registration Confirmation page, the parent can choose to make a payment, register for an additional camp, or return to the Dashboard page.
            strong Features for Parents:
            ul
                li Sign up / Login
                li Register their Child as a Camper
                li Profile Management
                li Choose Roommate for them
                li Allergies Details
                li Provide Medical/Medications Details
                li Make Payments
                li Apply for Discounts
                li Referral Codes
                li Contacting the Camp Support Team
                li Apply for a scholarship
                li Connect Different Profiles and Manage things on their behalf.
            strong Features for an Admin:
            ul
                li Event and Event Session Management
                li Campers Management
                li Sales Management
                li Payments and Refunds
                li Reporting
                li FAQ
                li CMS Pages
                li uAsk
                li Bulletin Board

            h6.mt-3 Role & Responsibilities/ Task Completed
            p Worked as lead developer. Requirement gathering & analyses, database designing, UI modification, backend development, R&D, and deployment.

            p.project-origin
                i.fas.fa-map-marker
                | Lake Havasu City, Arizona, United States

            ul.technologies
                li PHP
                li Laravel 6. x (PHP)
                li MYSQL
                li Apache
                li Linux
                li PHP Storm
                li Github
                li JavaScript (jQuery)
                li TinyMCE
                li Google Charts
                li PayPal Smart Button
                li Facebook Pixels
                li Google Tag Manager
                li Bootstrap 3
