.accordion-item
    h2.accordion-header(id="project-head-2")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-body-2" aria-controls="project-body-2")
            span.badge.bg-dark.me-2 WEB
            | Idara Tul Mustafa Event Manager
    #project-body-2.accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#projectlist")
        .accordion-body

            p The Event Planner application is a tailored solution designed for a party’s religious scholars to streamline event scheduling and management. Built from the ground up using Laravel PHP, Blade templates, jQuery, Bootstrap, and MySQL, the platform addresses the inefficiencies of manual booking processes, particularly eliminating the challenge of overlapping events. The application enables the registration of scholars, each with a personalized calendar to manage bookings and events efficiently. After attending an event, scholars can provide feedback on the organizers for future reference, fostering accountability and transparency.
            strong Key Features:
            ul
                li
                    strong Scholar Registration & Profiles:
                    |  Each scholar has a dedicated profile with personal and event details.
                li
                    strong Event Scheduling & Management:
                    |  Simplifies event creation, allocation, and updates in real-time.
                li
                    strong Personalized Booking Calendars:
                    |  Ensures scholars can view and manage their individual schedules without conflicts.
                li
                    strong Conflict Resolution:
                    |  Automatically prevents double-booking of scholars for overlapping time slots.
                li
                    strong Feedback System:
                    |  Allows scholars to provide post-event feedback about organizers for future reference.
                li
                    strong Admin Dashboard:
                    |  Provides an overview of all events, bookings, and scholar schedules.

            strong Responsibilities:
            ul
                li Developed the application from scratch, implementing the full-stack architecture using Laravel PHP for the backend and Blade templates for the frontend.
                li Designed and managed the MySQL database, ensuring efficient handling of event schedules and feedback data.
                li Implemented real-time conflict detection for overlapping events to ensure seamless scheduling.
                li Designed user-friendly interfaces using Bootstrap for a responsive and modern experience.
                li Utilized jQuery for interactive features such as dynamic calendar updates and event filtering.
                li Conducted rigorous testing and debugging to ensure high performance and reliability.
                li Delivered detailed documentation and provided training to end-users on application functionalities.



            p.project-origin
                strong Origin
                | Guranwala, Pakistan

            .thumbnail-gallery
                .thumbnail
                    a(href=`/assets/img/portfolio/idaratulmustafa-1.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/idaratulmustafa-1.webp` alt='Idara tul mustafa' title='Idara tul mustafa' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/idaratulmustafa-2.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/idaratulmustafa-2.webp` alt='Idara tul mustafa' title='Idara tul mustafa' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/idaratulmustafa-3.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/idaratulmustafa-3.webp` alt='Idara tul mustafa' title='Idara tul mustafa' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/idaratulmustafa-4.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/idaratulmustafa-4.webp` alt='Idara tul mustafa' title='Idara tul mustafa' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/idaratulmustafa-5.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/idaratulmustafa-5.webp` alt='Idara tul mustafa' title='Idara tul mustafa' loading='lazy')

            ul.technologies
                li PHP
                li Laravel
                li MYSQL
                li Apache
                li Linux
                li PHP Storm
                li GitHub
