.accordion-item
    h2.accordion-header(id="medlucy")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-medlucy" aria-controls="project-medlucy")
            span.badge.bg-dark.me-2 WEB
            | MedLucy Healthcare Software
    #project-medlucy.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            a.btn.btn-link.btn-sm.float-end.mb-5(href='https://medlucy.com' data-bs-toggle="tooltip" target='_blank' title='Open link in new tab')
                | medlucy.com
                i.fas.fa-external-link

            p.m-0.p-0 Contributed as a team member to the development of MedLucy, a comprehensive healthcare solution for Luxembourg's medical sector. Focused on creating an intuitive admin panel to manage patients, doctors, and secretaries. Collaborated on integrating features like appointment scheduling, medical billing, and record management. Played a key role in optimizing workflows for seamless healthcare operations.
            strong Features of the application
            ul
                li
                    strong Meet Lucy:
                    | Revolutionizing Healthcare Management in Luxembourg! 🚀

                li
                    strong Stunning Design:
                    | A perfect blend of beauty and functionality for easy navigation.

                li
                    strong Intuitive Agenda:
                    | Keep tabs on patients and waiting rooms with real-time updates.

                li
                    strong Comprehensive Patient File:
                    | All patient information, neatly organized in one place.

                li
                    strong Timeline View:
                    | Explore patient history through an insightful and visual timeline.

                li
                    strong Quick Document Creation:
                    | Effortlessly generate professional patient reports.

                li
                    strong Simplified Medication Management:
                    | Easy-to-use, updated prescription tools tailored for Luxembourg.

                li
                    strong Lab Request Module:
                    | Streamline lab requests with customizable, user-friendly features.

                li
                    strong Automated Forms:
                    | Replace handwritten forms with easy, integrated automated options.

                li
                    strong Easy Patient Referrals:
                    | Quickly refer patients to other doctors, enhancing care collaboration.

                li
                    strong Document Organization:
                    | Easily label and preview patient documents for better management.

                li
                    strong Streamlined Billing:
                    | Powerful, minimalist billing system with automated workflows.

            p.project-origin
                strong Origin
                | Luxembourg, Europe

            .thumbnail-gallery
                .thumbnail
                    a(href=`/assets/img/portfolio/medlucy-1.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/medlucy-1.webp` alt='Medlucy admin login' title='Medlucy admin login' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/medlucy-2.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/medlucy-2.webp` alt='Medlucy clinics listing' title='Medlucy clinics listing' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/medlucy-3.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/medlucy-3.webp` alt='Medlucy add new clinic' title='Medlucy add new clinic' loading='lazy')
                .thumbnail
                    a(href=`/assets/img/portfolio/medlucy-4.webp` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/medlucy-4.webp` alt='Medlucy dashboard' title='Medlucy dashboard' loading='lazy')

            - const technologies = ["Laravel", "PHP", "Vue JS", "Vuex", "Vuetify", "MYSQL", "Github"]
            ul.technologies
                each tech in technologies
                    li= tech
