.accordion-item
    h2.accordion-header(id="project-head-3")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-body-3" aria-controls="project-body-3")
            span.badge.bg-dark.me-2 WEB
            | &#x4e;&#x65;&#x74;&#x53;&#x69;&#x74;&#x65;&#x73;&#x20;&#x55;&#x53;&#x41;
    #project-body-3.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            p.m-0.p-0 Pending description
            p.project-origin
                strong Origin
                | Lake Havasu City, Arizona, United States

            .thumbnail-gallery
                .thumbnail
                    a(href=`/assets/img/portfolio/discountvantruck-1.jpg` target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/discountvantruck-1.jpg` alt='Net Sites USA' title='Net Sites USA' loading='lazy')

            ul.technologies
                li PHP
                li MYSQL
                li Apache
                li Linux
                li PHP Storm
                li GitLab
