.accordion-item
    h2.accordion-header(id="project-head-3")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-body-3" aria-controls="project-body-3")
            span.badge.bg-dark.me-2 WEB
            | &#x4e;&#x65;&#x74;&#x53;&#x69;&#x74;&#x65;&#x73;&#x20;&#x55;&#x53;&#x41;
    #project-body-3.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            p I developed and managed a robust eCommerce platform for Net Sites USA, a prominent car seat manufacturing business. The project encompassed end-to-end development and comprehensive maintenance for their official store and its associated network of marketing sites.
            strong Some Features:
            ul
                li
                    strong Order Management
                    | Streamlined processes for order placement, tracking, and fulfillment.
                li
                    strong User Management
                    | Efficient handling of customer accounts, roles, and permissions.
                li
                    strong Payment Management
                    | Integrated secure payment gateways for seamless transactions.
                li
                    strong Bulk Inventory Updates
                    | Automated systems for managing large-scale inventory changes.

            strong.mt-3 Sister Sites Management:
            ul
                li
                    | Oversaw
                    strong 69 sister sites,
                    | specifically designed for marketing and localized content across different USA states.
                li
                    | Created new pages to expand the sites' reach and content.
                li
                    | Updated existing content to ensure accuracy, relevance, and consistency across all sites.
                li
                    | Conducted regular site maintenance to ensure top-notch performance and user experience.

            strong.mt-3 Server and Hosting Management:
            ul
                li
                    | Managed all sites through
                    strong WHM/cPanel (self hosted),
                    | ensuring efficient hosting and streamlined administrative operations.
                li
                    | Monitored and maintained the web server, ensuring high availability, performance, and security.
                li
                    | Performed server optimizations, backups, and troubleshooting to prevent downtime or disruptions.

            p.project-origin
                i.fas.fa-map-marker
                | Lake Havasu City, Arizona, United States

            .thumbnail-gallery
                .thumbnail
                    a(href=`/assets/img/portfolio/discountvantruck-1.webp` rel='noreferrer' target="_blank" class="lightbox")
                        img(src=`/assets/img/portfolio/thumb/discountvantruck-1.webp` alt='Net Sites USA' title='Net Sites USA' loading='lazy')

            ul.technologies
                li PHP
                li MYSQL
                li Apache
                li Linux
                li PHP Storm
                li GitLab
