.accordion-item
    h2.accordion-header(id="pakpoultry")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-pakpoultry" aria-controls="project-pakpoultry")
            span.badge.bg-dark.me-2 WEB
            | PakPoultry.pk ‒ Daily Poultry Updates
    #project-pakpoultry.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            a.btn.btn-link.btn-sm.float-end.mb-5(href='https://pakpoultry.pk' data-bs-toggle="tooltip" target='_blank' title='Open link in new tab')
                | pakpoultry.pk
                i.fas.fa-external-link

            p.m-0.p-0 ...

            p.project-origin
                strong Origin
                | Multan, Pakistan

            ul.technologies
                li PHP
                li Laravel
                li MYSQL
                li PHP Storm
                li Bootstrap
                li SMS API Integration
