.accordion-item
    h2.accordion-header(id="pakpoultry")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-pakpoultry" aria-controls="project-pakpoultry")
            span.badge.bg-dark.me-2 WEB
            | PakPoultry.pk ‒ Daily Poultry Updates
    #project-pakpoultry.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            a.btn.btn-link.btn-sm.float-end.mb-5(href='https://pakpoultry.pk' data-bs-toggle="tooltip" target='_blank' title='Open link in new tab')
                | pakpoultry.pk
                i.fas.fa-external-link

            p PakPoultry.pk is a fully automated poultry management system designed and developed from scratch using Laravel, PHP, Blade, jQuery, and Bootstrap. The platform offers a subscription-based service where users can receive daily SMS alerts tailored to their selected area and alert type, such as day-old chick rates, daily egg rates, daily chicken rates, and farm rates.
            p The system is built to collect data automatically by scraping and parsing information from multiple sources. It categorizes the data and sends personalized SMS alerts to subscribers based on their preferences. Additionally, it dynamically generates detailed price lists and posts them as rate updates on the Facebook page.

            strong Key Features:
            ul
                li
                    strong Automated SMS Alerts:
                    |  Sends customized daily updates to subscribers based on selected areas and alert types.
                li
                    strong Data Scraping & Categorization:
                    |  Automatically scrapes data from various sources, parses it, and organizes it by type and region.
                li
                    strong Dynamic Rate Lists:
                    |  Creates dynamic price lists for different poultry categories, shared automatically on the platform and Facebook.
                li
                    strong Admin Panel:
                    |  Includes a robust admin interface for managing subscribers, data, and services. The admin can update SMS and email servers through an intuitive UI.
                li
                    strong End-to-End Management:
                    |  Developed and managed all front-end and back-end aspects of the application independently.

            p.project-origin
                strong Origin
                | Multan, Pakistan

            ul.technologies
                li PHP
                li Laravel
                li MYSQL
                li PHP Storm
                li Bootstrap
                li SMS API Integration
