.accordion-item
    h2.accordion-header(id="shipping")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#shipping-label" aria-controls="shipping-label")
            span.badge.bg-dark.me-2 JAVA
            | Shipping Label Printer
    #shipping-label.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body

            p The Shipping Labels application was developed for internal use by a client specializing in exporting fresh dates from Saudi Arabia to international markets. Previously, the client relied on manual processes, including handwriting shipping information on each carton and maintaining records in physical registers. The new application automated these processes by generating shipping label stickers for cartons and PDFs for customer communication. It also ensured accurate record-keeping for backtracking purposes.
            p p The application was built using
                strong Java
                |  with a
                strong Swing
                |  UI interface, and
                strong MySQL
                |  as the database, adhering to the client’s specific requirements.

            strong Key Features:
            ul
                li
                    strong Shipping Label Generation:
                    |  Automates the creation of printable shipping label stickers for cartons.
                li
                    strong PDF Export:
                    |  Generates customer-friendly PDFs with shipment details for easy sharing.
                li
                    strong Record Tracking:
                    |  Maintains an organized digital log of all printed labels for backtracking and audit purposes.
                li
                    strong User-Friendly Interface:
                    |  Simple and intuitive Swing-based UI tailored for non-technical users.
                li
                    strong Customizable Inputs:
                    |  Allows the client to input and manage shipment details efficiently.


            strong Responsibilities:
            ul
                li Analyzed client requirements and translated them into detailed technical specifications.
                li Designed and developed the application's backend logic using Java and MySQL, ensuring robust performance.
                li Created an intuitive
                    strong Swing UI interface
                    | for easy interaction and data entry.
                li Implemented PDF generation functionality for customer communication.
                li Developed a label printing module to format and print shipping labels accurately.
                li Integrated a MySQL database for efficient data storage and retrieval.
                li Conducted rigorous testing to ensure functionality, reliability, and ease of use.
                li Delivered comprehensive documentation and provided technical support post-deployment.

            p.project-origin
                strong Origin
                | Madinah, Saudi Arabia

            ul.technologies
                li SQLite
                li JAVA SE
                li JAVA Swing
                li Apache Maven
                li JasperReports
                li Github
                li FlatLaf - Look and Feel