.accordion-item
    h2.accordion-header(id="whatapratha")
        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#project-whatapratha" aria-controls="project-whatapratha")
            span.badge.bg-dark.me-2 APK
            | Food Order Confirmation Android App
    #project-whatapratha.accordion-collapse.collapse(data-bs-parent="#projectlist")
        .accordion-body
            p.m-0.p-0 I developed a custom Android application for Whatapratha, a renowned food brand, to streamline its internal order delivery process. The app focuses on enhancing delivery accuracy and customer satisfaction by implementing a robust OTP-based verification system.
            strong Features for Parents:
            ul
                li
                    strong OTP Confirmation:
                    |  Ensures secure order handovers by validating unique OTPs between customers and delivery riders.
                li
                    strong Delivery Verification:
                    |  Confirms that orders are delivered to the correct customer.
                li
                    strong Business-Exclusive:
                    |  Designed specifically for internal management, ensuring efficient operations without the need for public deployment on the Play Store.

            p.project-origin
                i.fas.fa-map-marker
                | Lahore, Pakistan

            ul.technologies
                li Android Programming
                li JAVA
                li SQLite
                li REST API Integration
                li Android SDK
                li Android Studio
