// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $black;
    font-family: $font-family-base;
    background-color: $gray-100;
    transition: background-color 0.4s ease, color 0.4s ease;
}

body.dark-mode {
    background-color: $secondary;
    color: $white;

    .testimonial-card-body {
        background-color: rgba(255, 255, 255, 0.05);
        color: $white;
    }

    .testimonial-card-body * {
        color: $white;
    }

    .accordion-body {
        background: transparent;
    }

    .project-origin {
        color: $accent;
    }

    .text-content-block {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .accordion-button {
        background-color: $secondary;
        color: $white;
    }

    .bg-primary {
        background-color: rgba(255, 255, 255, 0.05) !important;
        backdrop-filter: blur(10px);
    }

    .progress-bar {
        background-color: $accent !important;
    }

    .dark-mode-bg {
        filter: brightness(0.8) invert(1);
    }

    .contact-card {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: #ffffff;
    }

    .service-card {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.03);
        color: #ffffff;

        &:hover {
            border-color: $accent;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            color: $accent;
        }

        .service-description {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ffffff;
    }

    .text-primary {
        color: $accent !important;
    }

    .project-card {
        background-color: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.1);

        h3 {
            color: #ffffff;
        }

        p {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    .technologies {
        li {
            background-color: rgba(255, 255, 255, 0.05);
            color: $accent;
            border: 1px solid $accent !important;
        }
    }

    .accordion-body {
        background: $secondary;
        color: #fff;
    }
}

body.light-mode {
    background-color: $gray-100;
    color: $black;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family;
    font-weight: 700;
    transition: color 0.3s ease;
    position: relative;
    margin-bottom: 1rem;
}

h1 {
    line-height: 1.1;
    letter-spacing: -0.02em;
}

h2 {
    color: $secondary;
}

p.lead {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
}

.subheading {
    font-family: $headings-font-family;
    font-weight: 600;
    font-size: 1.25rem;
    color: $primary;
}