// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $gray-600;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;

    .dark-mode-bg {
        background: #ffffff;
    }

    .contact-card {
        color: #ffffff;
    }

    .service-card {
        border: 1px solid yellow;
        background: transparent;
        color: #ffffff;

        .service-title {
            color: #ffffff;
        }

        .service-description {
            color: #ffffff;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        color: #ffffff;
    }

    .text-primary {
        color: yellow !important;
    }

    .project-card {
        background-color: transparent;
        border: 1px solid #ffffff;
        h3 {
            color: #ffffff;
        }
        p {
            color: #ffffff;
        }
    }

    .technologies {
        li {
            background-color: transparent;
            color: yellow;
            border: 1px solid yellow !important;
        }
    }

    .accordion-body {
        background: #121212;
        color: #fff;
    }
}

body.light-mode {
    background-color: #ffffff;
    color: $gray-600;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;
}

h1 {
    line-height: 1;
}
h2 {
    color: $primary;
}

p.lead {
    font-size: 1rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
}
