/* General container styles */
section.projects {
  padding: 20px;
  background-color: #f8f9fa;

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
}

/* Project card styles */
.project-card {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 15px;

  h3 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333333;
  }

  p {
    margin-bottom: 10px;
    color: #555555;
  }
}

/* Technologies list styles */
.technologies {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 5px 3px 5px 0;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 0.7rem;
    color: #495057;
    border: 1px solid #007ced !important;
  }
}

.btn-dark-mode {
  position: fixed;
  right: 5px;
  top: 60px;
}

.project-origin {
  text-align: right;
  font-style: italic;
  color: $primary;
}
.project-origin:before {
  content: '~'
}

.accordion-body {
  border-bottom: 1px solid #dddddd;
}

.btn-link {
  text-decoration: none;
}

.contact-card {
  border: 1px solid #c4c4c4;
  padding: 35px;
  border-radius: 8px;
  color: $black;
}

.section-heading {
  text-align: center;
}
.section-heading::after {
  content: "";
  display: block;
  width: 8%; /* The width of the border as a percentage of the heading's text width */
  margin: 0 auto; /* Centers the border */
  border-bottom: 5px solid $primary; /* Border size and color */
  margin-top: 5px; /* Adjusts space between text and border */
}

.thumbnail-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .thumbnail {
    width: 120px;
    height: 75px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
