// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #333333;

// Override Bootstrap color system

$orange: #007ced;

// Override Bootstrap default state colors

$primary: $orange;
$black: #495057;
