// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #333333;

// Override Bootstrap color system

$orange: #00A8A8;

// Override Bootstrap default state colors

$primary: #003c76;
$black: #495057;
